@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

body {
  background-color: rgb(161, 199, 187);
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rgb(19, 117, 96);
  text-align: center;
  font-size: 40px;
}

h2 {
  color: rgb(35, 139, 117);
  font-size: 30px;
  margin: 10px;
}

p {
  color: black;
  font-size: 1.5em;
  margin: 20px;
}

li {
  color: black;
  font-size: 30px;
  font-style: italic;
  margin: 20px;
}

.navbar-brand,
.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}

footer {
  color: black;
  font-size: 0,5em;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

h3 {
  color: rgb(35, 139, 117);
  margin: 30px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  gap: 40px;
}

.grid-item {
  background-color: rgb(192, 190, 190);
  border: 1px solid;
  border-radius: 10px;
  color: rgb(35, 139, 117);
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

article {
  font-size: 15px;
  color: black;
  text-align: center;
}

.padre-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.practica-yoga {
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 80%;
  list-style: none;
}

.logoom {
  width: 100px;
  height: 100px;
  font-size: 100px;
}

.boxmodel {
  width: 100%;
  height: 100px;
  background-color: rgb(140, 204, 174);
  text-align: justify;
  line-height: 100px;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.img-square {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
}