article {
    a {
      margin: 0 1rem;
      color:#3d3d3d;
      font-size: 1rem;
      &:hover {
        color: #6db193;
      }
    }
  }  

  article {
    font-size: 15px;
    color: black;
    text-align: center;
  }
  @media screen and (max-width: 1024px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  } 
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }