.carousel {
  width: 100%;
}

.carousel-inner {
  height: 100vh;
}

.carousel-item {
  height: 100%;
  transition: transform 1.5s ease-in-out;
}

.carousel-item img {
  width: 110%;
  height: 110%;
  object-fit: cover; 
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 40vh;
  }
}