form {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 1.5rem;
    background-color:#f8f9fa; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);      
    .form-label {
      font-size: 0.9rem; 
    }      
    .form-control {
      font-size: 0.9rem;
      padding: 0.5rem;
    }      
    button[type="submit"] {
      width: 100%; 
      background-color:rgb(35, 139, 117);
      border-color: rgb(35, 139, 117);
      &:hover {
        background-color:  rgb(24.7413793103, 98.2586206897, 82.7068965517);
        border-color:  rgb(24.7413793103, 98.2586206897, 82.7068965517);
      }
    }
  }