html,
body {
    background-color:  rgb(161, 199, 187);
    font-family: "Poppins", sans-serif;
  }
  h1 {
    color: rgb(19, 117, 96);
    text-align: center;
    font-size: 40px;  
  }
  h2 {
    color: rgb(35, 139, 117);
    font-size: 30px;
    margin: 10px;
  }
  p {
    color: #555;
    font-size: 1.5em;
    margin: 20px;
  }
  h3 {
    color:rgb(35, 139, 117);
    margin: 30px;
    text-align: center;
  }

  main.container {
    text-align: center;
    margin: 2rem auto;  
  }
    section {
      margin-bottom: 2rem;
  
      h1{
       color:rgb(19, 117, 96);
      }
      
      h2 {
        color:rgb(35, 139, 117);
      }
  
      p {
        color: #555;
        line-height: 1.6;
      }
    }  