@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables*/
$main-background: rgb(161, 199, 187);
$margin-top-footer: 0.5rem;
$color-h1:rgb(19, 117, 96);
$color-h2:rgb(35, 139, 117);

/* mixin */
@mixin flexbox ($direccion, $jcontent, $align){
    display: flex;
    flex-direction: $direccion;
    justify-content: $jcontent;
    align-items: $align;
} 
/* extend */
.img-square {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}
@import "variables";

@import "header";

@import "card";

@import "iframe";

@import "article";

@import "footer";
  
@import "carousel";

@import "form";