<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi sitio web Yoga</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Inicio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="./yoga_terapeutico.html">Yoga Terapéutico</a></li>
              <li class="nav-item"><a class="nav-link" href="./como_empezar_con_yoga.html">Cómo empezar con Yoga</a></li>
              <li class="nav-item"><a class="nav-link active" href="./beneficios_del_yoga.html">Beneficios del Yoga</a></li>
              <li class="nav-item"><a class="nav-link" href="./precauciones_de_seguridad.html">Precauciones de seguridad</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container my-4">
      <h1 class="text-center">Más Beneficios del Yoga Terapéutico</h1>
      <h2 class="text-center mb-4">Equilibrio físico y armonización mental</h2>
      <section>
        <p>
          <strong>Reducir el estrés:</strong><br />
          El yoga terapéutico puede ayudar a reducir los niveles de estrés y ansiedad. La meditación y la respiración profunda pueden ayudar a reducir la frecuencia cardíaca y la presión arterial, lo que puede ayudar a reducir el estrés.
        </p>
        <p>
          <strong>Fortalecer el cuerpo:</strong><br />
          Las posturas de yoga pueden ayudar a fortalecer los músculos y mejorar la flexibilidad y el equilibrio.
          Esto puede ser especialmente beneficioso para las personas mayores o las personas que se están recuperando de una lesión.
        </p>
      </section>
      <!-- Images Section -->
      <div class="d-flex flex-wrap justify-content-center my-4">
        <img src="../img/5.png" alt="chico meditando" class="img-fluid m-2" style="width: 300px; height: 300px; object-fit: cover;" />
        <img src="../img/6.png" alt="chica piernas arriba" class="img-fluid m-2" style="width: 300px; height: 300px; object-fit: cover;" />
        <img src="../img/14.png" alt="3 niños yoguis" class="img-fluid m-2" style="width: 300px; height: 300px; object-fit: cover;" />
      </div>
      <section>
        <p>
          Mediante la ejecución consciente de las asanas y la integración de la respiración, las personas pueden liberar gradualmente la tensión muscular, mejorar la movilidad de las articulaciones y corregir los patrones de desalineación postural, mitigando así el impacto del dolor crónico y el malestar físico.
        </p>
        <p>
          Además, el énfasis en cultivar una mayor conciencia de las sensaciones corporales y los patrones de movimiento capacita a las personas para desarrollar una relación más afinada con su bienestar físico, lo que les permite prevenir y gestionar las lesiones con mayor eficacia.
        </p>
        <p>
          Este enfoque proactivo de la salud musculoesquelética y el bienestar físico general ejemplifica los beneficios terapéuticos duraderos de una práctica de yoga dedicada e intencionada, especialmente en el contexto de una terapia de yoga personalizada y dirigida.
        </p>
      </section>
    </main>
    <footer class="text-center mt-4">
      <h4>&copy; Copyright 2025 Amanda Melacci</h4>
    </footer>
    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
