<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi sitio web Yoga</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Inicio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link active" href="./yoga_terapeutico.html">Yoga Terapéutico</a></li>
              <li class="nav-item"><a class="nav-link active" href="#">Cómo empezar con Yoga</a></li>
              <li class="nav-item"><a class="nav-link active" href="./beneficios_del_yoga.html">Beneficios del Yoga</a></li>
              <li class="nav-item"><a class="nav-link" href="./precauciones_de_seguridad.html">Precauciones de seguridad</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container my-4">
      <h1 class="text-center">¿Quién se puede beneficiar con Yoga Terapéutico?</h1>
      <h2 class="text-center mb-4">¿Cómo comenzar con Yoga Terapéutico?</h2>
      <section>
        <p>
          El yoga terapéutico puede beneficiar a cualquier persona, independientemente de su edad o nivel de habilidad.
          Sin embargo, es especialmente beneficioso para personas que tienen lesiones o enfermedades crónicas,
          como dolor de espalda, artritis o diabetes.
        </p>
        <p>
          Si está interesado en comenzar con el yoga terapéutico, lo mejor es encontrar un instructor certificado en yoga terapéutico.
          Un instructor de yoga terapéutico trabajará con usted para identificar sus necesidades específicas
          y crear una práctica personalizada que se adapte a esas necesidades.
        </p>
      </section>
      <!-- Images Section -->
      <div class="d-flex flex-wrap justify-content-center my-4">
        <img src="../img/7.png" alt="señora con gato" class="img-fluid m-2" style="width: 300px; height: 300px; object-fit: cover;" />
        <img src="../img/8.png" alt="4 personas yoga terapeutico" class="img-fluid m-2" style="width: 300px; height: 300px; object-fit: cover;" />
        <img src="../img/15.png" alt="grupo de niños yoguis" class="img-fluid m-2" style="width: 300px; height: 300px; object-fit: cover;" />
      </div>
      <section>
        <p>
          Además, la naturaleza suave pero penetrante del yoga terapéutico trasciende las limitaciones de la edad y la forma física,
          permitiendo así a las personas participar en una práctica que sea propicia para su fase única de la vida y su nivel de bienestar físico.
        </p>
        <p>
          Aprovechando la adaptabilidad e inclusividad inherentes al yoga terapéutico,
          personas de todas las condiciones sociales pueden embarcarse en un viaje de autodescubrimiento, curación y bienestar holístico,
          subrayando así su relevancia y aplicabilidad duraderas como modalidad versátil e integrada para la salud y el bienestar integrales.
        </p>
      </section>
    </main>
    <footer class="text-center mt-4">
      <p>&copy; Copyright 2025 Amanda Melacci</p>
    </footer>
    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
