<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi sitio web Yoga</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">Inicio</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="./yoga_terapeutico.html"
                  >Yoga Terapéutico</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./como_empezar_con_yoga.html"
                  >Cómo empezar con Yoga</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./beneficios_del_yoga.html"
                  >Beneficios del Yoga</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Precauciones de seguridad</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container my-4">
      <section>
        <h1 class="text-center">Precauciones de seguridad</h1>
        <p>
          Como con cualquier forma de ejercicio, es importante hablar con su
          médico antes de comenzar una práctica de yoga terapéutico.Si tiene una
          lesión o enfermedad crónica, es especialmente importante consultar con
          su médico y trabajar con un instructor de yoga terapéutico certificado
          para garantizar que la práctica sea segura y efectiva.</p>
          <p>
          Además, es importante escuchar a su cuerpo durante la práctica y no forzarse más
          allá de sus límites.Si siente dolor o incomodidad durante una postura,
          es importante detenerse y buscar la ayuda de su instructor.
        </p>
          <p>
          Cuando se integra de forma cuidadosa y meditada en un plan sanitario global,
          el yoga terapéutico puede aumentar los efectos de los tratamientos
          médicos, los programas de rehabilitación y las estrategias de salud
          preventiva.<br />Su papel como modalidad de apoyo y colaboración queda
          aún más patente por su potencial para optimizar los resultados de la
          recuperación, mejorar la adherencia al tratamiento y capacitar a las
          personas para asumir un papel activo en su proceso de curación.</p>
          <p>
          Este enfoque integrador y centrado en la persona sirve como testimonio del
          impacto polifacético y de largo alcance del yoga terapéutico como
          modalidad dinámica y adaptable dentro del panorama sanitario
          contemporáneo.
        </p>
        <!-- Image Group -->
        <div class="d-flex flex-wrap justify-content-center my-4">
          <img
            src="../img/16.png"
            alt="mujer 3 posiciones"
            class="img-fluid m-2"
            style="width: 300px; height: 300px; object-fit: cover"
          />
          <img
            src="../img/18.png"
            alt="hombre pose"
            class="img-fluid m-2"
            style="width: 300px; height: 300px; object-fit: cover"
          />
          <img
            src="../img/17.png"
            alt="mujer 3 poses"
            class="img-fluid m-2"
            style="width: 300px; height: 300px; object-fit: cover"
          />
        </div>
        <h2 class="text-center">Otros estilos de Yoga</h2>
        <p>
          El yoga abarca una amplia variedad de prácticas, cada una con su
          propio enfoque y metodología. Desde estilos suaves como yoga prenatal
          para mujeres embarazadas que quieren seguir cuidando su cuerpo y mente
          o dinámicos, como el acroyoga o yoga aereo, hasta otros más centrados
          en la alineación, como el iyengar, la diversidad es enorme.</p>
          <p>
          En esta guía podras ver los principales tipos de yoga para que puedas descubrir sus
          beneficios, objetivos y características principales.Además, te
          daremos consejos prácticos para identificar cuál es el más adecuado
          para ti.
        </p>
      </section>
      <!-- Card Group -->
      <section class="mt-4">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img
                src="../img/9.png"
                class="card-img-top"
                alt="yoga prenatal"
              />
              <div class="card-body">
                <h5 class="card-title">Yoga Prenatal</h5>
                <p class="card-text">
                  La transformación a ser mamá es una aventura muy personal, con las practicas del yoga buscamos un lugar de serenidad, 
                  equilibrio y bienestar que permite superar cualquier desafío.</p>
                <a href="../index.html" class="btn btn-primary">MAS INFO</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="../img/10.png" class="card-img-top" alt="yoga aéreo" />
              <div class="card-body">
                <h5 class="card-title">Yoga Aéreo</h5>
                <p class="card-text">
                  Un método artístico de crecimiento personal que aporta multitud de beneficios a quien se anima a realizarlo: controlar 
                  el estrés, tonificar los músculos, combatir las fobias y aumentar la creatividad.</p>
                <a href="../index.html" class="btn btn-primary">MAS INFO</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="../img/11.png" class="card-img-top" alt="acroyoga" />
              <div class="card-body">
                <h5 class="card-title">Acroyoga</h5>
                <p class="card-text">
                  El AcroYoga, fusiona las acrobacias, el yoga e incluso prácticas terapéuticas. 
                  Una mezcla única que se centra en elementos como la consciencia corporal, la conexión del yoga
                  y la belleza de las acrobacias.</p>
                <a href="../index.html" class="btn btn-primary">MAS INFO</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Subscription -->
      <div class="text-center mt-5">
        <label for="suscribe">Suscribirse:</label>
        <input type="checkbox" name="suscribe" id="suscribe" />
        <input type="submit" value="Enviar" />
      </div>
    </main>
    <footer class="text-center mt-4">
      <p>&copy; Copyright 2025 Amanda Melacci</p>
    </footer>
    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
